<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-28T07:03:15Z</date>
	<key>WorkspacePath</key>
	<string>/Users/pesa/Documents/UNI/of_v0.9.4_osx_release/apps/myApps/bouncingBalls/bouncingBalls.xcodeproj</string>
</dict>
</plist>
